# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Environment Variables
.env

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

*.lck

# Python
*.pyo
*.pyd

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# VS Code
.vscode/

